@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Balsamiq Sans', sans-serif;
    font-weight: 400;
    color: #222222;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px 0 15px;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
}

.loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}